<% Rails.application.config.another_logger.debug "[debug] StaticPages#top" %>

<main class="jumbotron text-center">
  <h1>Reptiles Farm</h1>
  <div class="txt">
    <div class="txt01">全国の爬虫類ショップから<br>ヘビやトカゲなど一括検索！!</div>
    <div class="txt02">Reptiles Farmはあなたと爬虫類の出会いを全力サポート！!</div>
  </div>
</main>

 <div class="container center-block">
    
      <!-- 検索バー -->
      <div class="search">
        <h2 class="serch-ttl">爬虫類を探す</h2>
        <form class="relative" action="" method="">
            <input class="search-box align-center" type="search" name="keyword" placeholder="種類やモルフ、ショップ名を入力して下さい">
            <input class="search-btn align-center" type="submit" value="検索">
        </form>
      </div>
      <!-- 検索バー：end -->
      
      <!-- 種類から探す -->
      <div class="content">
          <h2 class="group-ttl">種類から探す</h2>
      </div>
      <!-- 種類から探す：end -->

  <div class="box"></div>
</div>
