/*
 *= require_self
 *= require_tree .
 */
@charset "utf-8";
@import "bootstrap";
@import "bootstrap-social";

/*==============================================================================
body
============================================================================= */
body {
  padding-top: 50px;
  background-color: #111;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN";
}

h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
  line-height: 1.4;
  letter-spacing: .06rem;
  text-align: center;
}

a { color: inherit;
}

/* =============================================================================
    Common Style
========================================================================== */
ul, li { list-style: none;}

// /* Inner InitialStyle */
// .inner { width:1000px; margin: 0 auto; padding: 0; position:relative; }

/*==============================================================================
  共通header
============================================================================= */
#header {
  background-color: #111;
  color: silver;
  font-weight: bold;
  cursor: pointer;
}
#logo { font-size: 20px;
}
#logo:hover { color: silver;
text-decoration: none;
}

/* header-list */
.deco1:hover { color: #fff;
background-color: #dc3545;
border-color: #dc3545;
}
.deco2 { color: white;
}
.deco2-pd { padding-left: 10px;
}
.deco2:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  
  color: #000;
  background: #fff;
  border-color: #555;
  text-decoration: none;
}

/*==============================================================================
  topページ
============================================================================= */

/* main-top */
.jumbotron {
  background:url(/images/hero.jpg) no-repeat 30% 60%/ cover;
  text-shadow: 3px 3px 5px #333, 6px 6px 10px #111;
}
.jumbotron h1 {
  font-size: 70px;
  margin: 50px 0px 60px;
}
.jumbotron .txt {
  text-shadow: 1px 1px #666, 2px 2px #333;
}
.jumbotron .txt01 {
  font-size: 30px;
}
.jumbotron .txt02 {
  font-size: 23px;
  margin: 10px 0 0;
}

/* search */
.search form {
  width: 500px;
  margin: 40px auto 0;
  text-align: center;
}
.serch-ttl {
  width: 240px;
  color: silver;
  font-size: 30px;
  margin: 0 auto;
  padding: 0 0 10px;
  border-bottom: 1px silver solid;
}
.search-box {
  width: 350px;
  height: 40px;
  color: #111;
  font-size: 13.5px;
}
.search-btn {
  margin:0 0 0 10px;
  width: 80px;
  height: 40px;
  background: lightcoral;
  color: #fff;
  padding: 0;
  cursor: pointer;
  font-size: 13.5px;
}

/* メインコンテンツ */
.group-ttl {
  width: 240px;
  color: silver;
  font-size: 30px;
	margin: 0 auto;
	padding: 0 0 10px;
  border-bottom: 1px silver solid;
}

.group .bg { background: #111 ; padding: 60px 0;}

.align-center{align-items:center;}

.group .content  { width: 900px; margin: 0 auto; padding: 60px 0 0; }







.align-center{align-items:center;}

.box { height: 2000px;}
