<header class="navbar navbar-expand-md navbar-dark fixed-top" id="header">
  <div class="container">
    <%= link_to "Reptiles Farm", root_path, id: "logo" %>
      
      <ul class="nav nav-right reset">
        <% if user_signed_in? %>
          <li class="btn"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path, class:"btn btn-sm btn-danger deco1" %></li>
          <li class="deco2-pd"><%= link_to "ログイン", new_user_session_path, class:"btn btn-sm btn-outline-secondary deco2" %></li>
        <% end %>
      </ul>
      
  </div>
</header>
